In [93]:
import requests
import pandas as pd

In [94]:
r=requests.get('http://localhost:8080/subcategory/getall')
content=r.json()

In [95]:
for x,y in enumerate(content):
    y['category'] = y['category']['name']
    print(x,' ',y)

0   {'idSubcategory': 1, 'name': 'Caramelo', 'category': 'Almacen'}
1   {'idSubcategory': 2, 'name': 'Vacuna', 'category': 'Carniceria'}
2   {'idSubcategory': 3, 'name': 'Pollo', 'category': 'Carniceria'}
3   {'idSubcategory': 4, 'name': 'Cerdo', 'category': 'Carniceria'}
4   {'idSubcategory': 5, 'name': 'Cordero', 'category': 'Carniceria'}
5   {'idSubcategory': 6, 'name': 'Gaseosa', 'category': 'Almacen'}
6   {'idSubcategory': 7, 'name': 'Alfajor', 'category': 'Almacen'}

In [96]:
df = pd.DataFrame(content)
df

   idSubcategory      name    category
0              1  Caramelo     Almacen
1              2    Vacuna  Carniceria
2              3     Pollo  Carniceria
3              4     Cerdo  Carniceria
4              5   Cordero  Carniceria
5              6   Gaseosa     Almacen
6              7   Alfajor     Almacen

In [97]:
rp=requests.get('http://localhost:8080/products/getall')
products = rp.json()

In [98]:
for x,y in enumerate(products):
    y['category'] = y['subcategory']['category']['name'] 
    y['subcategory'] = y['subcategory']['name']

In [105]:
df = pd.DataFrame(products)
df = df.set_index('id_product')
df

                    name  cost  stock subcategory category
id_product
1           Acidos Arcor    50    260    Caramelo  Almacen

In [116]:
rsd=requests.get('http://localhost:8080/saledetail/getall')
salesDetails = rsd.json()
salesDetails

[{'cantidad': 3,
  'subtotal': 150,
  'product': {'id_product': 1,
   'name': 'Acidos Arcor',
   'cost': 50,
   'stock': 260,
   'subcategory': {'idSubcategory': 1,
    'name': 'Caramelo',
    'category': {'idCategory': 1, 'name': 'Almacen'}}},
  'sale': {'fecha': '2023-05-20T15:30:00.000+00:00',
   'cliente': 'Oscares',
   'total': 150,
   'metodo_pago': 'efectivo',
   'ventasId': 1},
  'detailId': 1}]

In [117]:
df = pd.DataFrame(salesDetails)
df

,cantidad,subtotal,product,sale,detailId
0,3,150,"{'id_product': 1, 'name': 'Acidos Arcor', 'cos...","{'fecha': '2023-05-20T15:30:00.000+00:00', 'cl...",1

In [118]:
for x,y in enumerate(salesDetails):
    y['category'] = y['product']['subcategory']['category']['name'] 
    y['subcategory'] = y['product']['subcategory']['name']
    y['product'] = y['product']['name']
    y['sale'] = y['sale']['fecha']

In [120]:
df = pd.DataFrame(salesDetails)
df = df.set_index('detailId')
df

,cantidad,subtotal,product,sale,category,subcategory
detailId,,,,,,
1,3,150,Acidos Arcor,2023-05-20T15:30:00.000+00:00,Almacen,Caramelo

450